* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #005AFF;
}

h1 {
  text-align: center;
  padding: 1em 0;
  color: #FCEAFF;
}

form {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  border-radius: 20px;
  border-color: #0082FF;
  text-align: center;
}

input[type=text]:focus {
  outline: none; /* löscht border bei Fokus */
  border-color: #FFBB3F;
}

.calc-button {
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #fafafa;
  border-color: #455a64;
  letter-spacing: 1px;
}

.calc-button:hover,
.calc-button:focus {
  background-color: #FF7246;
  color: white;
  outline: none;
  border-color: #FF7246;
}

.rechner-container,
.container {
  background-color: #FCEAFF;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.result {
  border: 2px solid;
  border-radius: 20px;
  margin: 1.5em auto;
  padding: 1em 2em;
  width: 25%;
  background-color: #FCEAFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.container {
  margin: 3em 2em;
}
