* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100px;
  text-transform: uppercase;
  border-radius: 10px;
}

#endkapital {
  border: 1px solid;
}

.container {
  margin: 3em 2em;
}
