/* Allgemeine Formatierungen */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #005AFF;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  padding: 1em 0;
  color: #FCEAFF;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: red;
}

.header-title {
  margin: auto 1em;
}

.navbar {
  width: 30%;
  background: yellow;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0.5em auto;
  width: 100%;
}

.nav-list-item {
  text-align: center;
  border: 1px solid;
  padding: 0.5em 1.5em;
  width: 120px;
  border-radius: 10px;
}

.nav-list-item:hover,
.nav-list-item:focus {
    cursor: pointer;
}

/*----Startseite---- */
.home-table {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.table-field {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 3px solid;
  width: 20%;
  border-radius: 20px;
  text-align: center;
  background-color: #FF7246;
  font-size: 1.5em;
}

.table-field-title {
  padding: 1em 0 0 0;
  height: 100px;
}

.table-field-text {
  text-transform: none;
  padding: 0 1.2em;
  font-size: 0.8em;
}

/* Rechner */
form {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  border-radius: 20px;
  border-color: #0082FF;
  text-align: center;
}

input[type=text]:focus {
  outline: none; /* löscht border bei Fokus */
  border-color: #FFBB3F;
}

.calc-button {
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #FF7246;
  color: white;
  border-color: #FF7246;
  letter-spacing: 1px;
}

.calc-button:hover,
.calc-button:focus {
  background-color: white;
  border-color: #005AFF;
  color: #005AFF;
  outline: none;

}

.rechner-container,
.container {
  background-color: #FCEAFF;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.result {
  border: 2px solid;
  border-radius: 20px;
  margin: 1.5em auto;
  padding: 1em 2em;
  width: 25%;
  background-color: #FCEAFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.container {
  margin: 3em 2em;
}
